/* Основные стили */
body {
  color: #EC8C00;
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
}
* {
  box-sizing: border-box;
}
/* Контейнер терминала */
.piece {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  background-color: #1d1d1d;
}
/* Рамка терминала */
.frame {
  box-shadow:
    inset 0 0 8rem rgba(0, 0, 0, 0.3),
    0 0 5rem rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
  filter: blur(2px);
}
/* Область вывода */
.output-container {
  height: 100%;
  overflow: auto;
  padding-top: 6rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 35rem;
  min-width: 1500px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#output {
  min-height: 0%;
  display: flex;
  flex-direction: column;
  font-family: "Share Tech Mono", monospace;
  font-size: 15px;
  line-height: 1;
  white-space: pre-wrap;
  text-shadow: 0 0 5px rgba(212, 144, 27, .8);

}
#output > div {
  margin-bottom: 1rem;
}
/* Стили для текста */
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
p {
  margin-bottom: 2rem;
}
a,
a:visited {
  border-bottom: 0.2rem solid #EC8C00;
  color: #EC8C00;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  background-color: #EC8C00;
  color: #2F1B00;
}
/* Стили для строки ввода */
.input-line {
  display: flex;
  align-items: center;
}
.prompt {
  color: #EC8C00;
}
.input-text {
  color: #EC8C00;
}
.cursor {
  display: inline-block;
  color: #EC8C00;
  margin-left: 1px;
}
.hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
/* Выделение текста */
::-moz-selection {
  background-color: #EC8C00;
  color: #2F1B00;
}
::selection {
  background-color: #EC8C00;
  color: #2F1B00;
}

/* Стили для кнопок */
.output-container_main {
  display: flex;
  justify-content: center;
  align-items: center top;
  overflow: hidden;
  padding-top: 10rem;
  height: 100%;
  overflow: auto;
  padding: 5rem 5rem;
  background-color: #432600;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#output > h1 {
  display: flex;
  justify-content: center;
  align-items: center top;
  overflow: hidden;
  font-size: 26px;
  border: 0.5rem double;
  padding: 0.7rem;
}
#output > p {
  display: flex;
  justify-content: center;
  align-items: center top;
  overflow: hidden;
  font-size: 18px;
}
.terminal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #EC8C00;
  background-color: transparent;
  border: transparent;
  font-size: 26px;
  text-decoration: none;
  text-shadow: 0 0.2rem 1rem #5F3A00;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.back-button {
  display: inline-block;
  color: #EC8C00;
  background-color: transparent;
  border: transparent;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 0 0.2rem 1rem #5F3A00;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.terminal-button:hover, .back-button:hover {
  background-color: #EC8C00;
  color: #2F1B00;
}
.back-button {
  position: absolute;
  top: 2.5rem;
}

.scanlines {
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0),
    rgba(255,255,255,0) 50%,
    rgba(0,0,0,0.2) 70%,
    rgba(0,0,0,0.6)
  );
  background-size: 100% 0.2rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  opacity: 0.9;
}